.hii-10{
    display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color:white;
}
.content-10 {
    background-color:white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 900px;
}
.vehicle-image-10 {
  max-width: 100%; /* Adjust the maximum width to your preference */
  max-height: 70%;
  padding: 0%; /* Maintain the aspect ratio */
}
 th {
  width: fit-content; /* Adjust the maximum width to your preference */
}

  button a{
    text-decoration: none;
    color: aliceblue;
  }
  .carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .card-container {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
  }
  
  .txt{
    font-family:'Segoe UI';
    animation:  txt  7s ease-out  normal;
  }
  @keyframes txt{
    0%{transform:scale(0.9) ;}
    25%{transform:scale(1.1) ;}
    60%{transform:scale(0.9) ;}
    100%{transform:scale(0.9) ;}
  }