/* Style for the dropdown button */
.dropdown button {
    color: #212529; /* Text color */
  }
  
  /* Style for the dropdown menu items */
  .dropdown-menu {
    background-color: #fff; 
    
    /* White background color */
    min-width: 100px; /* Adjust the width as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
  }
  
  /* Style for the dropdown menu item on hover */
  .dropdown-menu a.dropdown-item:hover {
    color: #212529; /* Text color on hover */
  }
  
  /* Style for the "My Profile" link */
  .dropdown-menu a.dropdown-item:first-child {
    color: #007bff; /* Blue color for "My Profile" */
  }
  
  /* Style for the "Logout" link */
  .dropdown-menu a.dropdown-item:last-child {
    color: #dc3545; /* Red color for "Logout" */
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Change the dropdown toggle button styles */
  .dropdown .dropdown-toggle {
   
    color: #212529; /* Text color */
  }
  
  /* Style for dropdown items */
  
  