body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.center {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center-container {
  display: flex;
  padding: 15px;
  justify-content: center;
}



  
 
.numbered-button {
    display: flex;
    align-items: center;

    
}
 
   

.number {
    font-size: 20px;
    margin-right: 5px;
    color: white;
}

 .centered-button1 {
    font-size: 16px;
    color: #181313;
    /* transition: transform .2s; */
    border: none;
    border-radius: 30px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    min-width: 100px;
    padding:7px;
  }
  .centered-button1:hover{
    background-color:#f7c469;
  }
  .centered-button2:hover{
    background-color:#f7c469;
  }
  .centered-button3:hover{
    background-color:#f7c469;
  }
  .centered-button4:hover{
    background-color:#f7c469;
  }
  .centered-button8:hover{
    background-color:#f7c469;
  }

  
  .centered-button1 .zoom:hover{
   
    transform: scale(1.5);
    font-weight: bold;
  }
 
  .centered-button3 .zoom:hover{
  
    transform: scale(2.5);
    font-weight: bold;
  }
  .centered-button .zoom:hover{
   
    transform: scale(2.5);
    font-weight: bold;
  }
   .centered-button7 {
    background-color: transparent;
    font-weight: bold;;
    padding: 5px;
  }
  .centered-button7:hover {
    color:white;
  }
  .centered-button7:active{
    color: red;
  }
 
  
  .centered-button7 a {
    background-color: aquamarine;
    padding: 5px;
    text-decoration: none;
    color: #181313;
  } 

.centered-button2 {
  font-size: 16px;
  color: #181313;
  margin-left: 30px;
  /* transition: transform .2s; */
  border: none;
  border-radius: 22px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  min-width: 100px;
  padding:7px;
}
 

.centered-button3 {
  font-size: 16px;
  color: #181313;
  /* transition: transform .2s; */
  border: none;
  border-radius: 22px;
  margin-left: 30px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  min-width: 100px;
  padding:7px;
}


.centered-button4 {
  font-size: 16px;
  color: #181313;
  margin-left: 30px;
  /* transition: transform .2s; */
  border: none;
  border-radius: 22px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  min-width: 100px;
  padding:7px;
}


.centered-button8 {
  font-size: 16px;
  color: #181313;
  /* transition: transform .2s; */
  border: none;
  margin-left: 30px;
  border-radius: 22px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  min-width: 100px;
  padding:7px;
}
.centered-button8:hover{
  font-weight: bold;
}
.centered-button4 .zoom:hover{
 
    font-weight: bold;
  

}


.centered-button5 {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    /* background-color: #69aeff;
    color:yellow; */
    background-color: white;
    
    color: #181313;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 250px;
}


.centered-button6 {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #69aeff;
    color: #181313;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 250px;
}


center{
  margin:5px;
margin-top: 5px;
margin-left: 100px;
}

.centered-button:hover {
    background-color: #7cc1cf;
   
}



.additional-buttons-container {
  display: flex;
}

.centered-button7 a {
    background-color: aquamarine;
    padding: 5px;
    text-decoration: none;
    color: #181313;
}

.centered-button2 a {
    text-decoration: none;
    color: #181313;
}

.centered-button3 a {
    text-decoration: none;
    color: #181313;
}

.centered-button4 a {
    text-decoration: none;
    color: #181313;
}
.Owner video{
  position: absolute;
    margin: 0px;
    padding:0px;
    top: 0px;
    overflow: hidden;
    bottom: 0px;
    /* min-width: auto; */
    height: 120vh;
    object-fit: cover;
    /* background-position: center; */
    /* background-blend-mode: luminosity;/\ */
  /* filter: blur(5px); */
  
    z-index: -2; 
}

/* Media Query for Mobile */
@media screen and (max-width: 767px) {
  .Owner video {
      display: block; /* Hide video on small screens */
  }
}



 
/* today */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two equal columns */
  grid-gap: 16px; /* Adjust the gap between columns if needed */
}

.grid-item {
  width: 100%;
}

.internal-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr ; /* Two equal columns for the internal grid */
  gap: 16px; /* Adjust the gap between columns if needed */
}

.internal-grid-item {
  width: 100%;
}

/* Add additional styling for your content as needed */
.navbar-expand-md{
  background-color: #a9d7f63d;
  border-radius: 10px;
  
}
 form #disfield1{
  max-width: 300px;
  color: rebeccapurple;
}
.ownerbg{
  background-color: #e2eff14c;
}
.requestpostbg{
  background-color: #8cdadb5e;
  padding: 0px 0px;
  border-radius: 10px;

}
.gridhead{
  background-color: #f7c369fc;
  /* display:inline; */
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;

}
.mytrucks{
  background-color: #f7c369fc;
  /* display: inline; */
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
  text-align: center;
}
.navhome{
  font-size: 18px;
  color: #181313;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  padding: 7px 20px;
}
.navhome:hover{
  background-color: #f7c369fc; 
}
#gridpart:hover{
  
  box-shadow: 5px 10px 10px   rgba(128, 128, 128, 0.381);
}
.dropdown-content{
  background-color: #8fb1e9;
  border-radius: 7px;
  
}
#agent-button{
  margin-left: 340px;
 
  font-weight: bold;
} 
#driverbutton{
  margin-left: 38px;
}
 
@media only screen and (max-width: 480px) {
  .calsubmit{
      margin-left: 0px;/* No margin for mobile screens */
  }
 
 
}
.vll {
  border-left: 1px solid ;
  height: 30px;
  position:  absolute;
  top:285px;
  right:  920px;
}
.vl{
  border-left: 1px solid ;
  height: 30px;
  position: absolute;
  top:215px;
  right:  920px;
  
}
.vlll{
right:  910px;
  position: absolute;
}

.dropmenu{
  background-color: #f7c469;
}

.dropdowm-menu{
  background-color: #f7c36997;
}
.ownerbg{
  background-color: #1813131b;
  padding-bottom: 20px;
}

#owneritems{
background-color: transparent;
border-radius: 22px;
 
padding: 7px ;
}
#owneritems:hover{
  background-color: orange;
  border-radius: 22px;
  padding: 7px ;
  }
 .my-trucks-form{
  margin-left: 50px;
  margin-top: 47px;
 }

  @media only screen and (max-width: 768px) {
    .calsubmit{
        margin-left: 0px;/* No margin for mobile screens */
    }
   #owneritems:hover{
  background-color: orange;
  border-radius: 22px;
  padding: 7px ;
  width: fit-content;
  }
  .my-trucks-form{
    margin-left: 0px;
    margin-top: 50px;
   }
   
  }
  #feil{
    margin-left: 50px;
    }
  @media only screen and (max-width: 426px) {
    #feil{
    margin-left: 0px;
    }
    .vlll{
      right:  160px;
        
      }

  }
  @media only screen and (max-width: 768px) {
   
    
    .vlll{
    right:  200px;
      position: absolute;
    }

  }